*{
    box-sizing: border-box;
}

body{
    font-family: 'IBM Plex Mono', monospace;
    background-color: rgb(236, 229, 242);
    
}

img{
    max-width:100%;
}

h1{
    font-size:32px;
    margin-bottom:16px;
  
}

h1 strong{
    background-color: black;
    color:aquamarine;
   
}

a{
    color:inherit;
    text-decoration: none;
}

li{
    margin:16px 0;
}


#root > header{
    background-color: #333;
    color:white;
    padding:24px;
}

main{
    padding:48px 0 64px;
    background-color: rgb(229, 218, 237);
    min-height:500px; /* en az 500px yükseklikte ol */
}

main > section{
    border:2px solid purple;
    padding:48px;
    max-width:1000px;
    /*
    margin-left:auto;
    margin-right:auto;
    margin-bottom:24px;
    */

    margin:0 auto 24px;
}

#root > footer{
    background-color: #333;
    padding:24px 0 48px;
    text-align:center;
    color:white;
}   

/* egzersizler */
/* e1 */
div.e1{
    border:2px solid red;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:24px;
}

div.e1 a.logo{
    border:2px solid blue;
}

div.e1 nav{
    border:2px solid red;

}

/* e2 */
div.e2{

    border:2px solid blue;
    display:flex;
   justify-content: space-between;
   align-items: center;

}

div.e2 > .logo{ border:2px solid red; }

div.e2 > .container-navs{
    border:6px solid rgb(31, 175, 31);
   display:flex;
   flex-direction: row;
   align-items: center;
   gap: 8px;
}

div.e2 > .container-navs > *{
    border:4px solid orange;
}

div.e2 > .container-navs > nav > ul{
    display:flex;
}

div.e2 > .container-navs > nav:nth-child(2){
    font-size: 0.7rem;
}


/* e3 */

div.e3{
    border:2px solid blue;
}

div.e3 .card-list{
    border:2px solid black;
    background-color: pink;
    display:flex;
    gap:8px;
}

div.e3 .card-list > .card{
border:10px solid orange; 
background-color: white;
margin:0;
border-radius:16px;

flex-grow:1;
/* flex-shrink:1 */
flex-basis:0;

flex:1 1 0; /* grow shrink basis */
}

div.e3 .card-list > .card > header{
    height:200px;
    border:10px solid blue; 
}


div.e3 .card-list > .card > header > img{
    object-fit: cover;
    object-position: 20% 20%;
    width:100%;
    height:100%;
}

div.e3 .card-list > .card > .content{ height:300px; }








