* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "IBM Plex Mono", monospace;
  background-color: rgb(172, 229, 194);
}

h1 {
  font-size: 32px;
  margin-bottom: 16px;
}

h1 strong {
  background-color: black;
  color: aquamarine;
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  border: 4px solid black;
}
#root > header {
  border: 4px solid black;
  padding: 24px;
}
main {
  border: 4px solid black;
  min-height: 400px;
}
#root > footer {
  border: 4px solid black;
}

/* --- Components --- */
/* - Banners - */
.banner {
  background-color: #222;
  color: white;
  min-height: 30vh;
  display: flex;
  align-items: center;
}

.banner h1 {
  font-size: 3rem;
}

/* - Cards - */
.card-list li {
  padding: 48px;
  border: 2px dotted blue;
}

/* - Navigations - */
.nav-hamburger {
  border: 3px solid blue;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;

  min-height: 100vh;
  color: white;
}

.nav-hamburger > .btn-toggle {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  padding: 0 4px;
  border: 0;
  justify-content: space-around;
  background-color: red;
  position: absolute;
  top: 16px;
  right: 16px;
}

.nav-hamburger > button > span {
  flex-basis: 8px;
  width: 100%;
  background-color: blue;
  transition: all 500ms cubic-bezier(0.87, 0.285, 0.175, 0.75); /* custom */

  transition-timing-function: cubic-bezier(
    0.87,
    0.285,
    0.175,
    0.75
  ); /* custom */
}

.nav-hamburger.state-expanded > button > span:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}

.nav-hamburger.state-expanded > button > span:nth-child(2) {
  opacity: 0;
}

.nav-hamburger.state-expanded > button > span:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}

.nav-hamburger > ul {
  border: 2px solid orange;
  width: 300px;
  margin-top: 80px;
  display: none;
}

.nav-hamburger.state-expanded > ul {
  display: block;
}
.nav-hamburger > ul > li {
  border: 2px solid blue;
}
.nav-hamburger > ul > li > a {
  background-color: red;
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

/* utility classes */
.limited-width {
  max-width: 1000px;
  margin: 0 auto;
  border: 2px solid red;
}

@media screen and (min-width: 700px) {
  #root > header > .limited-width {
    display: flex;
    justify-content: space-between;
  }
  .nav-hamburger {
    position: static;
    min-height: auto;
  }
  .nav-hamburger > .btn-toggle {
    display: none;
  }
  .nav-hamburger > ul {
    display: flex !important;
    column-gap: 16px;
    width: auto;
    margin-top: 0;
  }
}
