@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700&display=swap');

*{box-sizing: border-box;}
a{color:inherit; text-decoration:none}
:root{
    --clr-1:yellow;
    --clr-2:gray;
    --clr-3:white;
    --clr-4:black;
    --clr-5:#333;

}

body{
    font-family: 'Roboto Mono', monospace;
}

ul{
    margin:24px 48px;
}

li{
    margin:16px 0;
    list-style:decimal-leading-zero;
}

p{ margin:16px 0; }

h1{ font-size:40px;}
h2{font-size:32px;}


#root > header{
    background-color: var(--clr-1);
    padding:24px;
}

main{
    background-color: var(--clr-5);
    color:var(--clr-3);
    padding:24px;

}

main > section{ margin:128px 0; }

#root > footer{
    background-color: var(--clr-4);
    color:var(--clr-3);
    padding:24px;
}


/* components */
.avatar{
    width:64px;
    height:64px;
    object-fit: cover;
    border-radius: 50%;
    border:1px dotted var(--clr-2);
}



.logo svg{ vertical-align: middle; margin:0 16px}

.logo{
    font-size:1.6rem;
    font-weight:700;
}

.greetingBox{
    border:2px solid white;
    padding:24px;
    margin:24px;
}
