.MainNav{
    border-bottom:1px dotted black;
}

.MainNav li{
    list-style: none;
    margin:2px 0;
}

.MainNav li a{
    display:block;
    padding:16px 24px;
    transition:all .5s;
}

.MainNav li a:hover{
    background-color: rgba(0,0,0,0.2);
}